*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: sans-serif;
    box-sizing: border-box;
}
:root{
    --main-font-col:        #FF7300;
    --primary-font-col:     #ffffff;
    --secondary-font-col:   #000000;
    --primary-font-size:      22px;
    --secondary-font-size:    16px;
    --heading-font-size:      45px;
    --subhead-font-size:      20px;
    --btn-background:       #FF7300;
    --btn-font-size:          16px;
}
body{
    background-image: url(images/pastelbackground.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* ----- NAVIGATION BAR ----- */
nav{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    width: 105px;
    height: 90px;
}
.menu{
    display: none;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav ul li{
    padding: 15px 45px;
    border: 1px solid var(--btn-background);
    background-color: rgba(0,0,0,0.5);
    transition: 0.5s;
}
nav ul li:hover{
    background-color: var(--btn-background);
    transition: 0.5s;
}
nav ul li a{
    color: var(--primary-font-col);
    text-decoration: none;
}

/* ----- CONTACT US ----- */
.contact-details{
    padding: 40px 150px;
    border-bottom: 1px solid var(--secondary-font-col);
}
.contact-head{
    font-size: var(--heading-font-size);
    color: var(--main-font-col);
}
.contact-sub-head{
    margin: 10px 0;
    font-size: var(--subhead-font-size);
}
.details td{
    padding: 20px 50px;
}
.details-head{
    font-size: 26px;
    font-weight: 600;
    color: var(--main-font-col);
    text-transform: uppercase;
}
.details-content{
    font-size: 24px;
    font-weight: bold;
}
.details-content a{
    text-decoration: none;
    color: var(--secondary-font-col);
}

/* ----- MEMBERS ----- */
.members{
    padding: 20px;
    text-align: center;
}
.members-head{
    color: var(--main-font-col);
    font-size: var(--heading-font-size);

}
.members-grid{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 2em;
    justify-content: space-evenly;
}
.grids{
    margin-top: 30px;
    background-color: rgb(255, 255, 255, 0.5);
    border: 1px solid var(--secondary-font-col);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    line-height: 2em;
}
.dp-image img{
    width: 200px;
    border-radius: 50%;
}
.members-grid .designation{
    text-align: left;
    font-size: calc(var(--primary-font-size) - 5px);
    font-weight: 800;
}
.members-grid .name{
    font-size: var(--primary-font-size);
    font-weight: 600;
    color: var(--main-font-col);
}
.members-grid .phone{
    font-size: var(--primary-font-size);
    font-weight: bold;
}



/* ----- FOOTER SECTION ----- */
.footer{
    background-color: var(--primary-font-col);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
.footer img{
    width: 105px;
    height: 90px;
}
.footer-head{
    font-size: var(--primary-font-size);
}
.footer-text{
    font-size: var(--secondary-font-size);
}
.footer-contact{
    margin: 10px;
    line-height: 2em;
}
.footer-contact a{
    text-decoration: none;
    color: var(--secondary-font-col);
}
.footer button{
    text-align: center;
    padding: 15px 50px;
    font-size: var(--btn-font-size);
    color: var(--primary-font-col);
    font-weight: 600;
    background-color: var(--btn-background);
    border: 1px solid var(--btn-background);
    transition: 0.5s;
}
.footer button:hover{
    background-color: var(--primary-font-col);
    color: var(--btn-background);
    transition: 0.5s;
}



/* ----------------------- */
/* ----- MEDIA QUERY ----- */
/* ----------------------- */

@media (max-width: 1040px) {
    nav{
        margin: 20px;
        justify-content: space-between;
    }
    .nav-links{
        position: fixed;
        background-color: var(--primary-font-col);
        width: 200px;
        height: 100vh;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .menu{
        display: block;
        margin: 20px;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
    .menu-close{
        width: 15px;
        height: 15px;
    }
    nav ul{
        padding: 50px 0;
        flex-direction: column;
        display: block;
    }
    nav ul li{
        padding: 15px 45px;
        border: none;
        background-color: transparent;
        transition: 0.5s;
        display: block;
        transition: 0.5s;
    }
    nav ul li:hover{
        background-color: var(--btn-background);
        transition: 0.5s;
    }
    nav ul li a{
        color: var(--btn-background);
        text-decoration: none;
        transition: 0.5s;
    }
    nav ul li a:hover{
        color: var(--primary-font-col);
        transition: 0.5s;
    }
}

@media (max-width: 720px) {
    .footer{
        flex-direction: column;
        align-items: start;
    }
    .footer img{
        display: none;
    }
    .footer-head{
        font-size: calc(var(--primary-font-size) - 5px);
    }
    .footer-text{
        font-size: calc(var(--secondary-font-size) - 4px);
    }
    .footer-contact{
        margin: 5px 25px;
        text-align: start;
    }
    .footer .col-4{
        text-align: center;
    }
    .cta-footer-btn{
        padding: auto;
        width: 100vw;
    }
}

@media (max-width: 770px) {
    .members-grid{
        display: grid;
        grid-template-columns: 30% 30% 30%;
        gap: 2em;
        justify-content: space-evenly;
    }
    .grids{
        margin-top: 30px;
        background-color: rgb(255, 255, 255, 0.5);
        border: 1px solid var(--secondary-font-col);
        border-radius: 5px;
        text-align: center;
        padding: 20px;
        line-height: 2em;
    }
    .dp-image img{
        width: 150px;
        border-radius: 50%;
    }
    .members-grid .designation{
        text-align: left;
        font-size: calc(var(--primary-font-size) - 10px);
        font-weight: 800;
    }
    .members-grid .name{
        font-size: var(--secondary-font-size);
        font-weight: 600;
        color: var(--main-font-col);
    }
    .members-grid .phone{
        font-size: var(--secondary-font-size);
        font-weight: bold;
    }
}

@media (max-width: 430px) {
    /* ----- CONTACT US ----- */
    .contact-details{
        padding: 5px;
    }
    .contact-head{
        font-size:  calc(var(--heading-font-size) - 15px);
    }
    .details td{
        padding: 15px 20px 15px 0;
    }
    .details-head{
        font-size: 18px;
    }
    .details-content{
        font-size: 14px;
    }

    /* ----- MEMBERS ----- */
    .members-head{
        font-size: calc(var(--heading-font-size) - 20px);

    }
    .members-grid{
        display: grid;
        grid-template-columns: auto;
        gap: 2em;
        justify-content: space-evenly;
    }
    .grids{
        margin-top: 30px;
        background-color: rgb(255, 255, 255, 0.5);
        border: 1px solid var(--secondary-font-col);
        border-radius: 5px;
        text-align: center;
        padding: 20px;
        line-height: 2em;
    }
    .dp-image img{
        border-radius: 50%;
    }
    .members-grid .designation{
        text-align: left;
        font-size: calc(var(--primary-font-size) - 5px);
        font-weight: 800;
    }
    .members-grid .name{
        font-size: var(--primary-font-size);
        font-weight: 600;
        color: var(--main-font-col);
    }
    .members-grid .phone{
        font-size: var(--primary-font-size);
        font-weight: bold;
    }

}